<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col
      size-sm="5"
      size-xs="12">
      <ion-item lines="none">
        <ion-img [src]="imgPath"></ion-img>
      </ion-item>
    </ion-col>
    <ion-col class="text-col"
             size-sm="7"
             size-xs="12">
      <ion-textarea class="description">{{txtDescription}}</ion-textarea>
      <ion-item class="checkout">
        <ion-label class="ion-text-end">Go to checkout</ion-label>
        <ion-icon class="cart-icon" name="cart-outline"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
