.text-col {
  position: relative;;

  .description {
    padding-left: 5%;
    padding-right: 2.5%;
  }

  .checkout {
    position: absolute;
    right: 2.5%;
    bottom: 0;
    z-index: 99;

    ion-label {
      text-overflow: initial;
    }

    ion-label, ion-icon {
      cursor: pointer;
    }

    .cart-icon {
      padding-left: 2.5%;
    }
  }
}
